@import url("src/assets/scss/variables.scss");

.user_block {
    display: flex;
    justify-content: space-around;
    padding-top: var(--top_space);
}

.filter_block {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}