@Import url("src/assets/scss/Components/login.scss");
@Import url("src/assets/scss/Components/admin.scss");
@Import url("src/assets/scss/Components/user.scss");

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
}

.tableBlock .MuiDataGrid-columnHeaderTitleContainer {
    justify-content: center;
}